/* mail me */
.mailMeContainer>a {
    background-color: blue;
    border-radius: 15px;
    padding: 10px;
    color: white;
}

.mailMeTextArea textarea {
    border: 1px solid black;
    width: 100%;
    height: 200px;
    padding: 5px;
    border-radius: 5px;
}

.mailMeName {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}



.mailMeName input {
    border: 1px solid black;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
}