Options -Indexes

ErrorDocument 400 https://profile.yopaaa.site/err?code=400
ErrorDocument 401 https://profile.yopaaa.site/err?code=401
ErrorDocument 403 https://profile.yopaaa.site/err?code=403
ErrorDocument 404 https://profile.yopaaa.site/err?code=404
ErrorDocument 503 https://profile.yopaaa.site/err?code=503

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteRule ^([^\.]+)$ $1.html [NC,L]

Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]