@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
}

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.link-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    overflow: scroll;
}

.backBtn {
    cursor: pointer;
}

.backBtn:hover {
    color: blue;
}

.content {
    border: 1px dotted black;
    border-radius: 10px;
    margin-top: 5px;
    height: 360px;
    padding: 10px;
    overflow: scroll;
}

.container-repo {
    height: 500px;
}

.repository-container {
    background-color: rgb(0, 0, 0, .3);
    /* color: white; */
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    text-align: start;
    /* height: 100px; */
    height: max-content;
    margin-bottom: 20px;
}

.repository-container:hover {
    background-color: rgb(0, 0, 0, .5);
}

.repository-container .name {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.repository-container .name a:hover {
    color: rgb(17, 0, 255);
}

.repository-time {
    display: flex;
    font-size: 11px;
    justify-content: space-around;
}

.navigation-home {
    border-top: 10px;
    display: flex;
    justify-content: space-around;
    /* color: white; */
    text-transform: capitalize;
    font-weight: bold;
}

.repo-content-navigation {
    display: flex;
    gap: 15px;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 5px;
}

.curretPage {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}

.d-none {
    display: none;
}

.more-Link-container {
    background-color: rgb(0, 0, 0, .3);
    text-transform: capitalize;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px 10px;
    text-align: center;
    margin-bottom: 20px;
}

.more-Link-container:hover {
    background-color: rgb(0, 0, 0, .5);
}


/* mail me */
.mail-me-container>a {
    background-color: blue;
    border-radius: 15px;
    padding: 10px;
    color: white;
}

.mail-me-text-area textarea {
    border: 1px solid black;
    width: 100%;
    height: 200px;
    padding: 5px;
    border-radius: 5px;
}

.mail-me-name {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}



.mail-me-name input {
    border: 1px solid black;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
}


/* Certificate */

.container-certificate {
    display: grid;
    /* width: 1040px; */
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
    background-color: rgb(0, 0, 0, .3);
    border: 1px solid black;
    /* border-top-left-radius: 10px; */
    /* border-top-right-radius: 10px; */
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card-header img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    z-index: -99;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    text-transform: capitalize;
}


@media (max-width: 1000px) {
    .container-repo {
        height: 650px;
    }

    .content {
        height: 400px;
    }
}